<!DOCTYPE html>
<html lang = "en">
<head>
</head>
<style>
    body {  background: black;
        color:whitesmoke;
        height : "100%";
        font-size: 16px;
        border: 2px solid rgb(90, 102, 209);
        font-family: verdana;
         }
         img {
            border-radius: 5px;
            margin-bottom: 30px;
        }
        .parallax {
            background-image: url("https://i.ibb.co/hYN8Kjx/526173.jpg");
            min-height: 1000px; 
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 30px;
        }

    

</style>
<body>
    {% include "navbar.html" %}
  
    <div class="parallax"></div>
    <div style="text-align: center; background-color: black;">

        <a href="https://ibb.co/2kCdt43"><img src="https://i.ibb.co/2kCdt43/message-Image-1600697583150.jpg" height = 250></a><br>
    
    <table style="width:40%" align="center" border= "1">
        <tr>
            <td>Name</td>
            <td>: Robby</td>
        </tr>
        <tr>
            <td>NPM</td>
            <td>: 1906400381</td>
        </tr>
        <tr>
            <td>Student of</td>
            <td>: Fasilkom UI 2019 </td>
        </tr>
        <tr>
            <td>Hobbies</td>
            <td>: Basketball</td>
        </tr>
        <tr>
            <td>Find me on maung website</td>
            <td>Visit <a href="https://maung.id/">maung.id </a></td>
        </tr>
  
    </table>

    <h1 style="font-size:30px;">Education Details</h1>

    <table style="width:40%" border = "1" align="center">
        <tr>
            <td>Junior high school state 216 Jakarta</td>
            <td>2013-2016</td>
        </tr>
        <tr>
            <td>Senior high school state 59 Jakarta</td>
            <td>2016-2019</td>
        </tr>
        <tr>
            <td>University of Indonesia</td>
            <td>2019-2023 (expected)</td>
        </tr>

    </table>
    <h1 style = "font-size: 23px;">one sentence about me: <h1>
    <h1 style = "font-size: 20px;">An ordinary person who have ambition</h1>
    </div>
    <h1 style="font-size:30px;">Let's be friend on :</h1>
    <table style="width:20%" >
        <tr>
            <td><a href="https://www.instagram.com/nfrobby/?hl=id"><img src="https://i.ibb.co/S5S1VJy/ig.png" target="_blank" height="50" width="50"></a></td>
            <td><a href="https://www.linkedin.com/in/robby-nur-fadillah-183897157/"><img src="https://i.ibb.co/dr8rjcK/linkedin.png"target="_blank"  height="60" width="60"></a></td>
            <td><a href="https://twitter.com/Nfrobby1"><img src="https://i.ibb.co/NLh0nBk/twitter.png"target="_blank"  height="60" width="60"></a><td>
            <td><a href="https://steamcommunity.com/id/a7xjnr"><img src="https://i.ibb.co/RY1QDrQ/steam.png" target="_blank" height="46" width="46"></a></td>
           

        </tr>
            </table>
    


</body>
</html>
