{% load static %}
<!DOCTYPE html>
<html>
        <head>
          <head>
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script src="static https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
        </head>

<body>
    <div class = "backgroundcolor">
   
      {% include "navbar.html" %}
      <a href = "https://www.ea.com/games/apex-legends"><img class="img-responsive" width = 100% src="https://cdnb.artstation.com/p/assets/images/images/029/448/513/medium/fahx-pv-apex-legends-season-6-4k-wallpaper2lag.jpg?1597593446"target="_blank"></td></a>
      <a href = "https://www.ea.com/games/apex-legends"><img class="img-responsive" width = 100% src="https://static1.cbrimages.com/wordpress/wp-content/uploads/2020/08/Apex-Legends-Season-6-trailer-Lifeline.jpg"target="_blank"></td></a>
      <a href = "https://www.ea.com/games/apex-legends"><img class="img-responsive" width = 100% src="https://i.redd.it/zy5fw89n1jq41.png"target="_blank"></td></a>
      <div class = "footer">
        <p align="center"><b>Copyright @ 2020 Robby</b></p>
      </div>
      </div>    
      
</body>
</html>