{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="static https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  </head>

<body>
    <div class = "backgroundcolor">
    
      {% include "navbar.html" %}
      <a href = "https://id.wikipedia.org/wiki/Kyrie_Irving"><img class="img-responsive" width = 100% src="https://i.ibb.co/Jv8Bmy3/kyrieirving.jpg" target="_blank" ></td></a>
      <a href = "https://id.wikipedia.org/wiki/LeBron_James"><img class="img-responsive" width = 100% src="https://i.ibb.co/jhjwvH0/Le-Bron-James-1200-1.jpg" target="_blank" ></td></a>
      <a href = "https://id.wikipedia.org/wiki/Kobe_Bryant"><img class="img-responsive" width = 100% src="https://i.ibb.co/rvFwCvt/kobe-background-8.jpg" target="_blank" ></td></a>
      <div class = "footer">
        <p align="center"><b>Copyright @ 2020 Robby</b></p>
      </div>
      </div>
</body>